@import "tailwindcss";

:root {
  --primary-color: #f086ac;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

a:hover {
  color: var(--primary-color);
}

.custom-checkbox input {
  display: none; /* Ẩn checkbox mặc định */
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid pink;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: pink;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
}
